*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #d1ccc0;
	color: #fff;
}

.login-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
	padding: 70px 30px;
	border-radius: 20px;
}

.login-box h2{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}

.login-box .user-box{
	position: relative;
}

.login-box .user-box input,
.login-box .user-box select{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.login-box .user-box label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box select:focus ~ label,
.login-box .user-box select:valid ~ label{
	top: -20px;
	left: 0;
	color: #fff;
	font-size: 12px;
}

.login-box input[type="submit"]{
	background: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.5s;
	outline: none;
	margin-top: 40px;
}

.login-box input[type="submit"]:hover{
	background: #03a9f4;
	color: #fff;
}
