/* Basic styles for the body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
}

/* Styles for the header section */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logout {
    position: absolute;
    top: 40px;
    right: 50px;
  }
  
  
header h1 {
    margin: 0;
}

/* Styles for the navigation menu */
nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Styles for the main content area */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

article {
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-basis: calc(33.33% - 20px);
}

article h2 {
    margin-top: 0;
}

article p {
    margin-bottom: 0;
}

section {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    resize: vertical;
    min-height: 150px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  

/* Styles for the footer section */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}